
<div style="float:right;padding-top:25px;padding-right:40px" >

<table>
    <tr>
    	<td>
 <p class="lead" style="padding-top:15px;padding-right:10px"><%= @name%> </p>
</td>
<td>
<%= image_tag(@image, :class => "circular")%>

 		</td>
 	<tr>
 </table>

</div>



<div class="jumbotron"  style="padding-top:90px;padding-bottom:30px" align="center">
    <h1 style="font-size:80px">Twitter on Rails</h1>
   	<table>
    <tr>
        <td> <img style="padding-top:17px" src="https://twitter.com/images/resources/twitter-bird-blue-on-white.png" style="padding-top:0px" alt="" height="42" width="42"></td>
    	<td><p style="padding-top:25px;font-size:25px;font-weight:light" >Twitter, simplified.</p></td>
    </tr>
</table>



</div>







<table align="center" style="padding:20px">	

	<% @posts.each do |post| %>

	<tr>
	<td text-align:center>
		<p style="float:right"><small><%= post.created_at.asctime[0..25]%></small></p>
		<div style="float:left">
		 <%= image_tag(post.profile_image_url, :class =>"circular")%>
		</div>
		<table>
			<tr>
				<td><p style="padding-top:8px;padding-left:10px" class="lead"><%= post.user.name %> </p></td>
					<td><p style="padding-top:8px;padding-left:15px;font-size:15px" class="lead"><small>(@<%= post.user.screen_name %>)</small></p></td>
			</tr>
		</table>
		
		<p><%= link_to post.text, post_path(post.id) %></p>
		
		<hr />
	</td>
	</tr>

<% end %>
    
</table>
